.App {
text-align: center;
display: flex;
justify-content: center;
}

#root{
  display: flex;
  height: 100;
  background-color: rgb(39, 41, 65); 
  color: white;
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.logo-image {
  height: 225px;
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.formBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.header {
  justify-content: center;
}

.Sidebar {
  width: 240px;
  height: 100vh;
  background-color: #202123; 
}

.sidebarText {
  color: white;
  font-size: large;
  border-radius: 55%;
  background-color: coral;
}
