.App {}

#root {
  background-color: rgb(39, 41, 65);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 225px;
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.formBtn {
  display: flex;
  justify-content: center;
  width: 100%;

}

.header {
  display: flex;
  justify-content: center;
}

.Sidebar {
  width: 240px;
  height: 100vh;
  background-color: #202123;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.sidebarText {
  color: white;
  font-size: large;
  background-color: coral;
  min-height: 100px;
  border: #202123;
  border-style: solid;
}


.homePageContent{
  display: flex;
  justify-content: space-evenly;
}

.textBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chatbotContainer{
  padding: 10%;
  display: flex;
  flex-direction: column;
  max-width: 75%;
}
